.side{
    position: fixed;
    left: 0;
    bottom: 0;
    top: 9.66%;
    width: 5.86%;
    background-color: white;
    z-index: 200;
    padding-top: 0.8787%;
}
.side-icon{
    height: 14.59%;
    display: flex;
    align-items: center;
    justify-content: center;
    display: flex;
    cursor: pointer;
    flex-direction: column;
}
.side-icon:hover{
    background-color: lightgrey;
}
.side-icon div{
    font-family: 'Roboto', sans-serif;
    font-size: 70%;
}
.side-icon p{
    font-family: 'Roboto', sans-serif;
    font-size: 70%;
}
.side-icon img{
    height: 33.33%;
    margin-bottom: 5.33%;
}